@page
@model ccse_cw1.Pages.BookingFailModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h3>Booking was not placed</h3>
            <p>There was an error when placing the booking. it is possible that there are not enough rooms to fit your booking. Please attempt again at a later date...</p>
        </div>
    </div>
</div>