@page
@model ccse_cw1.Pages.BookingSuccessModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h3>Successful Booking</h3>
            <p>The booking was successfully carried out. Click <a href="/Dashboard">here</a> to view your booking in the dashboard.</p>
        </div>
    </div>
</div>