@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pacific Tours</h1>
    <a href="/book" class="btn btn-primary">Book</a>
</div>

<div class="container mt-4">
    <h4>Hotel Prices</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Single Room Price (Per Night)</th>
                <th>Double Room Price (Per Night)</th>
                <th>Family Suite Price (Per Night)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hilton London Hotel</td>
                <td>£375</td>
                <td>£775</td>
                <td>£950</td>
            </tr>
            <tr>
                <td>London Marriott Hotel</td>
                <td>£300</td>
                <td>£500</td>
                <td>£900</td>
            </tr>
            <tr>
                <td>Travelodge Brighton Seafront</td>
                <td>£80</td>
                <td>£120</td>
                <td>£150</td>
            </tr>
            <tr>
                <td>Kings Hotel Brighton</td>
                <td>£180</td>
                <td>£400</td>
                <td>£520</td>
            </tr>
            <tr>
                <td>Leonardo Hotel Brighton</td>
                <td>£180</td>
                <td>£400</td>
                <td>£520</td>
            </tr>
            <tr>
                <td>Nevis Bank Inn, Fort William</td>
                <td>£90</td>
                <td>£100</td>
                <td>£155</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <h4>Tour Information</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tour</th>
                <th>Cost</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Real Britain (6 days)</td>
                <td>£1500</td>
                <td>6 days</td>
            </tr>
            <tr>
                <td>Britain and Ireland Explorer (16 days)</td>
                <td>£3500</td>
                <td>16 days</td>
            </tr>
            <tr>
                <td>Best of Britain (12 days)</td>
                <td>£2800</td>
                <td>12 days</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h3>Package Deals!</h3>
            <p>Picking a tour with your room can give you a discount depending on what room type you select..</p>
            Single + Tour = 10% Off <br />
            Double + Tour = 20% Off<br />
            Family Suite + Tour = 40% Off <br /></p>
            <small>Packages will be automatically applied upon successfull booking..</small>
        </div>
    </div>
</div>